<div
  class="animated fadeIn fast container-fluid mx-auto card"
  style="width: 1000px; background-color: #23222f"
>
  <div class="container-fluid mx-auto hero-container" style="width: 865px">
    <div class="animated fadeIn jumbotron">
      <h1 class="">Galeria Pixel Art</h1>
      <p class="">
        This is a simple hero unit, a simple jumbotron-style component for
        calling extra attention to featured content or information.
      </p>

      <p>
        It uses utility classes for typography and spacing to space content out
        within the larger container.
      </p>
    </div>
  </div>
</div>
